<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.2" targetFramework="net471" />
  <package id="Autofac.Extras.DynamicProxy" version="4.4.0" targetFramework="net471" />
  <package id="Autofac.Owin" version="4.2.0" targetFramework="net471" />
  <package id="Autofac.WebApi2" version="4.1.0" targetFramework="net471" />
  <package id="Autofac.WebApi2.Owin" version="4.0.0" targetFramework="net471" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net471" />
  <package id="Microsoft.AspNet.Cors" version="5.2.4" targetFramework="net471" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.3" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.4" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.4" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.4" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.4" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Tracing" version="5.2.4" targetFramework="net471" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Cors" version="4.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Diagnostics" version="4.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin.FileSystems" version="4.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Hosting" version="4.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Security" version="4.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin.StaticFiles" version="4.0.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="Owin" version="1.0" targetFramework="net471" />
  <package id="protobuf-net" version="2.3.7" targetFramework="net471" />
  <package id="Serilog" version="2.6.0" targetFramework="net471" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net471" />
</packages>