<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net471" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net471" />
  <package id="CouchbaseNetClient" version="2.5.9" targetFramework="net471" />
  <package id="Microsoft.CSharp" version="4.4.1" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="OpenTracing.Signed" version="0.10.4" targetFramework="net471" />
  <package id="Serilog" version="2.6.0" targetFramework="net471" />
  <package id="Serilog.Enrichers.Thread" version="3.0.0" targetFramework="net471" />
  <package id="Serilog.Formatting.Compact" version="1.0.0" targetFramework="net471" />
  <package id="Serilog.Settings.AppSettings" version="2.1.2" targetFramework="net471" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net471" />
</packages>